<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis, sapien scelerisque facilisis scelerisque, dolor orci consectetur urna, vel ultricies augue lorem at dui. Quisque lacinia non nunc in hendrerit. In lectus dolor, venenatis vitae bibendum
    sit amet, pulvinar eget tortor. Sed suscipit ornare magna lacinia aliquet. Praesent ullamcorper sem at mattis vestibulum. Morbi volutpat velit at tortor commodo consequat. Duis eget libero felis. Praesent fermentum sollicitudin augue sed accumsan.
</p>
<p class="animated fadeIn">
    Nam mauris mauris, tempus non dui eu, malesuada pretium arcu. Etiam aliquam diam non urna dictum tempus. Proin ac est congue sem gravida venenatis sed nec velit. Donec dapibus augue at gravida elementum. Etiam volutpat arcu sed sapien convallis commodo.
    Cras pharetra bibendum nunc, at euismod lacus bibendum non. Morbi convallis dolor venenatis scelerisque fermentum.
</p>
<p class="animated fadeIn">
    Donec congue turpis ut ligula eleifend, et tempor neque dignissim. Cras et aliquam ex. Donec quis purus dui. Fusce at ullamcorper felis, in sagittis lacus. Sed tempus lobortis sem ut venenatis. Fusce nec consequat urna. Cras sagittis elit eu tortor faucibus,
    sit amet lacinia enim sollicitudin. Duis aliquam vulputate tempus. Curabitur quis ligula tristique, porta magna et, interdum ex. Pellentesque gravida a quam quis vehicula. Proin laoreet ut massa vehicula iaculis. Curabitur consectetur, nulla id mattis
    pretium, elit nunc faucibus turpis, semper fermentum mauris neque et nulla. In hac habitasse platea dictumst. Integer ut lacus consectetur, tempor sapien vitae, fringilla leo.
</p>